
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  neo4j:
    image: neo4j:5
    environment:
      NEO4J_AUTH: ${NEO4J_AUTH}
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
    
  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    container_name: codesmart-frontend
    volumes :
      - ./frontend:/app
      - /app/node_modules
    environment: 
      NEXT_PUBLIC_GOLANG_API_URL: ${NEXT_PUBLIC_GOLANG_API_URL}
      DOCKER_PUBLIC_GOLANG_API_URL: ${DOCKER_PUBLIC_GOLANG_API_URL}

  auth-service:
    build:
      context: ./backend
      dockerfile: ./auth-service/Dockerfile
    container_name: codesmart-auth-service
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      GITHUB_ID: ${GITHUB_ID}
      GITHUB_SECRET: ${GITHUB_SECRET}
      GOLANG_API_URL: ${GOLANG_API_URL}
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
    depends_on:
      - postgres

  nginx:
    image: nginx:alpine
    ports: 
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/out:/usr/share/nginx/html:ro
    depends_on:
      - frontend
      - auth-service

volumes:
  postgres_data:
  redis_data:
  neo4j_data: